body {
    display: flex;
    background-color: blueviolet;
    margin-top: 25vh;
    justify-content: center;
}
.conteudo {
    display: flex;
    flex-direction: column;
    width:auto;
    height: auto;
    
}
.containerimg {
    width: 256px;
    height: 256px;
    background-color: black;
    border-radius: 10px;
}
.seletores {
   
    width: 256x;
    height: 50px;
    display: flex;
    justify-content: center;
}
input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-top: 15px;
}
.containerimg {
    background: url(img/img-01.png);
    background-repeat: no-repeat;
    background-size: auto;
}